<!--{% extends "index/index.html" %} -->
<!--{% block content %}-->

<h1>Hello</h1>
    <!--<div class=container>-->
    <!--    <div>-->
    <!--        <h5>Category :</h5>-->
    <!--        <h1>{{param1.name}} </h1>-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div>-->
    <!--        <div>-->
    <!--            <div>-->
    <!--                <h2 style="display:inline">Most Recent</h2>-->
    <!--                <a href="#" style="float:right">-->
    <!--                    <span>view more...</span>-->
    <!--                </a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        {%for x in range(0,18) %}-->
    <!--        <figure style="display:inline-block;text-align:center;height:150px;width:120px;padding:20px 10px 10px 20px  ;">-->
    <!--        <a href="#">  -->
    <!--            <img src="https://media.karousell.com/media/photos/products/2021/2/13/wii_game_donkey_kong_game__jap_1613254262_a0095a0f_progressive.jpg" alt="item1" style="height:100px;width:50x;"></img>-->
    <!--            <figcaption style="font-size:12px;text-align:left;">-->
    <!--                    {{_("Item Description")}}-->
    <!--                     <br>-->
    <!--                    HK$: {{_("Price")}}-->
    <!--                     <br>-->
    <!--                    {{_("Seller")}}-->
    <!--            </figcaption>-->
    <!--        </a>-->
    <!--        </figure>-->
    <!--         {% endfor %}-->
    <!--    </div>-->
    <!--    <hr>-->
    <!--    <div>-->
    <!--        <div>-->
    <!--            <div>-->
    <!--                <h2 style="display:inline">Most Popular</h2>-->
    <!--                <a href="#" style="float:right">-->
    <!--                    <span>view more...</span>-->
    <!--                </a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        {%for x in range(0,18) %}-->
    <!--        <figure style="display:inline-block;text-align:center;height:150px;width:120px;padding:20px 10px 10px 20px  ;">-->
    <!--        <a href="#">  -->
    <!--            <img src="https://media.karousell.com/media/photos/products/2021/2/13/wii_game_donkey_kong_game__jap_1613254262_a0095a0f_progressive.jpg" alt="item1" style="height:100px;width:50x;"></img>-->
    <!--            <figcaption style="font-size:12px;text-align:left;">-->
    <!--                    {{_("Item Description")}}-->
    <!--                     <br>-->
    <!--                    HK$: {{_("Price")}}-->
    <!--                     <br>-->
    <!--                    {{_("Seller")}}-->
    <!--            </figcaption>-->
    <!--        </a>-->
    <!--        </figure>-->
    <!--         {% endfor %}-->
    <!--    </div>-->

    <!--</div>-->
    
    

<!--{% endblock %}-->