<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" ></li>
        <li data-target="#carousel-example-generic" data-slide-to="3" ></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="height:500px; ">
        
        <div class="item active">
            <a href="/categoryview/">
                <img class="d-block w-100" src="static/img/PromotionBanner1.png"  alt="First slide">
            </a>
        </div>
    
        <div class="item">
            <a href="/categoryview/">
                <img class="d-block w-100" src="static/img/PromotionBanner2.png" alt="Second slide">
            </a>
        </div>
        
        <div class="item">
            <a href="/categoryview/">
                <img class="d-block w-100" src="static/img/PromotionBanner3.png" alt="Third slide">
            </a>
        </div>
        
        <div class="item" >
            <a href="/categoryview/">
                <img class="d-block w-100 " src="static/img/PromotionBanner4.png" alt="Fourth slide">
            </a>
        </div>
        
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<style type="text/css">
.w-100 {
  width: 100% !important;
  height:500px !important;
}
</style>